[submodule "ZMF"]
	path = ZMF
	url = https://github.com/zeroSDN/ZMF.git
[submodule "JMF"]
	path = JMF
	url = https://github.com/zeroSDN/JMF.git
[submodule "util/hierarchy-builder"]
	path = util/hierarchy-builder
	url = https://github.com/AndreKutzleb/hierarchy-builder.git
