# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
.idea/
*.iml
CMakeCache.txt
CMakeFiles/
Makefile
build/
cmake_install.cmake
util/TopicsFactoryGenerator/bin/
util/moduleCreator/target/
*_UT
*.log
jmf/jmf/jmf.iml
lib/*
jmf/jmf/target/
dependencies/*
!dependencies/init_dependencies.sh
modules/*/CMakeFiles/*
zsdn-dir.txt
zsdn-dir_cmake.txt
common/cpp/zsdn-commons/zsdn/topics/
common/cpp/zsdn-commons/zsdn/proto/
common/java/zsdn-proto/src/main/java/zsdn/topics/
common/java/zsdn-proto/src/main/java/zsdn/protocol/
common/java/zsdn-proto/.settings/
common/java/zsdn-proto/.project
common/java/zsdn-proto/target
modules/java/RESTAdmin/.settings
modules/java/RESTAdmin/target/
.classpath
util/module-creator/.gitignore
util/module-creator/.project
util/module-creator/.settings
util/module-creator/target
.temp
exportutil/startup-selector/target/
util/startup-selector/.project
util/startup-selector/.settings/
util/startup-selector/moduleTemp.config
util/startup-selector/target
export
