<!DOCTYPE html>
<html ng-app="zsdn-modules">
<head>
<meta charset="UTF-8">
<title>Modules - ZeroSDN</title>
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
<script src="js/config.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-smart-table/2.1.4/smart-table.min.js"></script>
<script src="js/modules-angular.js"></script>
<link rel="stylesheet" href="css/style.css" />
</head>
<nav>
	<ul>
		<li><a href="logging.html">Logging</a></li>
		<li><a href="modules.html">Modules</a></li>
		<li><a href="topo.html">Topology</a></li>
	</ul>
</nav>
<body ng-controller="moduleCtrl">

	<div class="container">
		<h3>Modules</h3>
		<button type="button" ng-click="update()" class="btn btn-sm">
			<i class="glyphicon glyphicon-refresh"></i> Update
		</button>
		<table st-table="displayedCollection" st-safe-src="rowCollection"
			class="table table-striped">
			<thead>
				<tr>
					<!-- <th st-sort="id">UUID</th> -->
					<th st-sort="name">Name</th>
					<th st-sort="UniqueId">Unique ID</th>
					<th st-sort="currentState">Status</th>
					<th st-sort="enable-disable">Enable/Disable</th>
					<th st-sort="stop">Stop</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in displayedCollection">
					<!-- <td>{{row.id}} -->
					<td>{{row.name}}</td>
					<td>{{row.UniqueId}}</td>
					<td>{{row.currentState}}</td>
					<td>
						<button type="button" ng-click="changeState(row)"
							class="btn btn-sm">
							Enable/Disable
						</button>
					</td>
					<td>
						<button type="button" ng-click="stopModule(row)"
							class="btn btn-sm btn-danger">
							<i class="glyphicon glyphicon-remove-circle"></i> Stop
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>