ZMF_INMSG_BUFFER_SIZE = 100000
ZMF_INMSG_BUFFER_MODE = 0
ZMF_ZMQ_ZMQ_RCVBUF = 0
ZMF_ZMQ_ZMQ_RCVHWM = 100000
ZMF_ZMQ_ZMQ_SNDBUF = 0
ZMF_ZMQ_ZMQ_SNDHWM = 100000

logging.loggers.root.level = INFORMATION

ZSDN_SWITCH_ADAPTER_PACKET_IN_MULTICAST_GROUPS = 1
ZSDN_SWITCH_ADAPTER_FLUSH_STREAM_AFTER_EVERY_MESSAGE = true
ZSDN_SWITCH_ADAPTER_EXPERIMENTAL_FAST_TOPIC_GENERATION = false

ZSDN_DEVICE_MODULE_PROTOCOLS_TO_USE = ARP 

ZSDN_SIMPLE_FORWARDING_MODULE_MULTICAST_GROUPS_FOR_INSTANCE_ID_0 = 0
ZSDN_SIMPLE_FORWARDING_MODULE_MULTICAST_GROUPS_FOR_INSTANCE_ID_1 = 1
ZSDN_SIMPLE_FORWARDING_MODULE_MULTICAST_GROUPS_FOR_INSTANCE_ID_2 = 2
ZSDN_SIMPLE_FORWARDING_MODULE_MULTICAST_GROUPS_FOR_INSTANCE_ID_3 = 3
ZSDN_SIMPLE_FORWARDING_MODULE_MULTICAST_GROUPS_FOR_INSTANCE_ID_4 = 4
ZSDN_SIMPLE_FORWARDING_MODULE_MULTICAST_GROUPS_FOR_INSTANCE_ID_5 = 5
ZSDN_SIMPLE_FORWARDING_MODULE_MULTICAST_GROUPS_FOR_INSTANCE_ID_6 = 6
ZSDN_SIMPLE_FORWARDING_MODULE_MULTICAST_GROUPS_FOR_INSTANCE_ID_7 = 7

ZSDN_SIMPLE_FORWARDING_MODULE_IGNORE_ETHERTYPES_FOR_INSTANCE_ID_0 =
ZSDN_SIMPLE_FORWARDING_MODULE_IGNORE_ETHERTYPES_FOR_INSTANCE_ID_1 =
ZSDN_SIMPLE_FORWARDING_MODULE_IGNORE_ETHERTYPES_FOR_INSTANCE_ID_2 =
ZSDN_SIMPLE_FORWARDING_MODULE_IGNORE_ETHERTYPES_FOR_INSTANCE_ID_3 =
ZSDN_SIMPLE_FORWARDING_MODULE_IGNORE_ETHERTYPES_FOR_INSTANCE_ID_4 =
ZSDN_SIMPLE_FORWARDING_MODULE_IGNORE_ETHERTYPES_FOR_INSTANCE_ID_5 =
ZSDN_SIMPLE_FORWARDING_MODULE_IGNORE_ETHERTYPES_FOR_INSTANCE_ID_6 =
ZSDN_SIMPLE_FORWARDING_MODULE_IGNORE_ETHERTYPES_FOR_INSTANCE_ID_7 =

ZSDN_FORWARDING_MODULE_RULE_EXPIRE_THRESHOLD = 20000

ZSDN_FORWARDING_MODULE_MULTICAST_GROUPS_FOR_INSTANCE_ID_0 = 0
ZSDN_FORWARDING_MODULE_MULTICAST_GROUPS_FOR_INSTANCE_ID_1 = 1
ZSDN_FORWARDING_MODULE_MULTICAST_GROUPS_FOR_INSTANCE_ID_2 = 2
ZSDN_FORWARDING_MODULE_MULTICAST_GROUPS_FOR_INSTANCE_ID_3 = 3
ZSDN_FORWARDING_MODULE_MULTICAST_GROUPS_FOR_INSTANCE_ID_4 = 4
ZSDN_FORWARDING_MODULE_MULTICAST_GROUPS_FOR_INSTANCE_ID_5 = 5
ZSDN_FORWARDING_MODULE_MULTICAST_GROUPS_FOR_INSTANCE_ID_6 = 6
ZSDN_FORWARDING_MODULE_MULTICAST_GROUPS_FOR_INSTANCE_ID_7 = 7

ZSDN_FORWARDING_MODULE_IGNORE_ETHERTYPES_FOR_INSTANCE_ID_0 =
ZSDN_FORWARDING_MODULE_IGNORE_ETHERTYPES_FOR_INSTANCE_ID_1 =
ZSDN_FORWARDING_MODULE_IGNORE_ETHERTYPES_FOR_INSTANCE_ID_2 =
ZSDN_FORWARDING_MODULE_IGNORE_ETHERTYPES_FOR_INSTANCE_ID_3 =
ZSDN_FORWARDING_MODULE_IGNORE_ETHERTYPES_FOR_INSTANCE_ID_4 =
ZSDN_FORWARDING_MODULE_IGNORE_ETHERTYPES_FOR_INSTANCE_ID_5 =
ZSDN_FORWARDING_MODULE_IGNORE_ETHERTYPES_FOR_INSTANCE_ID_6 =
ZSDN_FORWARDING_MODULE_IGNORE_ETHERTYPES_FOR_INSTANCE_ID_7 =

ZSDN_LOGGING_MODULE_CASSANDRA_URL = "127.0.0.1"